<div class="flex flex-col items-center justify-start max-h-screen overflow-hidden bg-medix-50 px-6">
  <div class="flex flex-col items-center w-full max-w-sm">
    <img src="medix-logo.png" alt="Medix Logo" class="w-64 h-40 rounded-full object-contain mb-8" />

    <div class="text-center">
      <p class="text-2xl font-black text-medix-700 tracking-tighter mb-2">
        Sua saúde, simplificada.
      </p>
      <p class="text-sm text-medix-400 font-medium mb-10">
        Acesse o portal para gerenciar sua jornada clínica.
      </p>
    </div>

    <button
      routerLink="/login"
      class="flex items-center justify-center gap-3 w-full bg-medix-600 text-white py-4 rounded-2xl font-bold shadow-lg shadow-medix-600/20 hover:bg-medix-700 transition-all active:scale-95"
    >
      <lucide-icon [img]="icons.login" [size]="20"></lucide-icon>
      Entrar no Sistema
    </button>

    <div class="mt-12 p-6 bg-white rounded-3xl border border-medix-100 text-center shadow-sm">
      <p class="text-medix-700 font-bold text-sm mb-1">Ainda não faz parte da rede Medix?</p>
      <p class="text-medix-400 text-xs mb-4 leading-relaxed">
        Descubra como nossos planos de saúde inteligentes podem cuidar de você e sua família.
      </p>

      <a
        href="tel:11991929312"
        class="inline-flex items-center gap-2 text-medix-600 font-black text-sm hover:text-medix-700 transition-colors"
      >
        <lucide-icon [img]="icons.phone" [size]="16"></lucide-icon>
        Consultar Planos: (11) 99192-9312
      </a>
    </div>
  </div>

  <footer class="absolute bottom-6 text-center">
    <p class="text-[10px] font-bold text-medix-300 uppercase tracking-[0.4em]">
      ORACLE CHALLENGE FIAP 2026
    </p>
  </footer>
</div>
