<nav
  class="flex items-center justify-between px-10 py-5 bg-white/90 backdrop-blur-md fixed top-0 left-0 right-0 z-50 border-b border-medix-100 shadow-sm h-18"
>
  <div class="flex items-center gap-3 group cursor-pointer" (click)="navigateBasedOnRole()">
    <img
      src="medix-logo.png"
      alt="Logo"
      class="w-10 h-10 rounded-full object-contain group-hover:scale-110 transition-transform duration-300"
    />
    <div class="flex flex-col">
      <span class="text-xl font-black text-medix-700 leading-none tracking-tighter">
        medix<span class="text-medix-300">.</span>
      </span>
    </div>
  </div>

  <ul class="flex items-center gap-4">
    @if (!authService.isLoggedIn()) {
      <li>
        <a
          routerLink="/login"
          routerLinkActive="text-medix-600 font-bold bg-medix-100"
          class="flex items-center gap-2 text-sm px-4 py-2 rounded-xl text-medix-400 hover:text-medix-600 hover:bg-medix-100 transition-all"
        >
          <lucide-icon [img]="icons.user" [size]="18"></lucide-icon>
          Entrar
        </a>
      </li>
    } @else {
      @if (user?.role === 'PACIENTE') {
        <li>
          <a
            routerLink="/paciente"
            routerLinkActive="text-medix-600 font-bold bg-medix-100"
            class="flex items-center gap-2 text-sm px-4 py-2 rounded-xl text-medix-700 hover:text-medix-600 hover:bg-medix-100 transition-all"
          >
            <lucide-icon [img]="icons.activity" [size]="18"></lucide-icon>
            Meu Dashboard
          </a>
        </li>
        <li>
          <a
            routerLink="/medix-ai"
            routerLinkActive="text-medix-600 font-bold bg-medix-100"
            class="flex items-center gap-2 text-sm px-4 py-2 rounded-xl text-medix-700 hover:text-medix-600 hover:bg-medix-100 transition-all"
          >
            <lucide-icon [img]="icons.bot" [size]="18"></lucide-icon>
            Medix AI
          </a>
        </li>
      }

      @if (user?.role === 'COLABORADOR') {
        <li>
          <a
            routerLink="/colaborador"
            routerLinkActive="text-medix-600 font-bold bg-medix-100"
            class="flex items-center gap-2 text-sm px-4 py-2 rounded-xl text-medix-700 hover:text-medix-600 hover:bg-medix-100 transition-all"
          >
            <lucide-icon [img]="icons.hospital" [size]="18"></lucide-icon>
            Unidades
          </a>
        </li>
      }

      @if (user?.role === 'ADMIN') {
        <li>
          <a
            routerLink="/admin"
            routerLinkActive="text-medix-600 font-bold bg-medix-100"
            class="flex items-center gap-2 text-sm px-4 py-2 rounded-xl text-medix-700 hover:text-medix-600 hover:bg-medix-100 transition-all"
          >
            <lucide-icon [img]="icons.briefcase" [size]="18"></lucide-icon>
            Gestão
          </a>
        </li>
      }

      <li>
        <button
          (click)="handleLogout()"
          class="cursor-pointer flex items-center gap-2 text-sm px-4 py-2 rounded-xl text-medix-400 hover:text-medix-error hover:bg-red-50 transition-all font-semibold"
        >
          <lucide-icon [img]="icons.logout" [size]="18"></lucide-icon>
          Sair
        </button>
      </li>
    }
  </ul>
</nav>

<main class="mx-auto p-8 pt-24 min-h-screen bg-medix-50">
  <router-outlet />
</main>

<app-toast />
